# Examen Análisis de Datos 2526: Tema 1 (NumPy y Pandas) 

+ Completa y entrega el cuaderno de jupyter con las celdas ejecutadas (asegúrate de que guardas el notebook, VSCode no tiene autoguardado)
+ Renombra el cuarderno con tu nombre antes de entregarlo
+ Completa cada celda de código según las instrucciones dadas en los comentarios. 

__IMPORTANTE__: Es un examen de NumPy y Pandas, los ejercicios deben realizarse usando funciones de ambas librerías sin usar estructuras de control (for, while, if-else, etc.) a no ser que se indique lo contrario.

# Ejercicio 1: NumPy (6 puntos)

Cada celda es 0.5 puntos a excepción de la última que vale 1 punto.

La siguiente celda solamente contiene los __datos__: 3 ndarrays con notas de alumnos y un ndarray adicional con los nombres.

In [27]:
import numpy as np
# ======
# DATOS
#=======
nota_mates = np.array([4.3, 9.1, 7.2 , 4.8, 7.2, 4.4, 5.5, 4.2, 6.9, 3.3, 4.5, 5.6, 5.4, 6.8, 5.1])
nota_lengua = np.array([7.1, 8.7, 6.5 , 7.5, 5.6, 6.2, 5.4, 4.8 , 3.6, 4.8, 6.4, 5.6, 5.1 , 8.4, 5.0]) 
nota_fisica = np.array([7.4, 10, 7.8 , 5.4, 8.4, 3.2, 5.8, 6.4, 7.3, 3.5, 3.4, 5.6, 6.2, 4.1, 5.2])
alumnos = np.array(["Juan", "Noelia", "Pedro", "Marta", "Antonio", "Carlos", "Patricia", "Carmen", "Manuel", "Jorge", "Jose", "Sara", "María", "Rubén", "Bárbara"])

In [28]:
# Crea un ndarray del mismo tamaño y tipo de datos que notas_mates llamado "nuevo" con los valores a 1
nuevo = np.ones_like(nota_mates)
print("Array de unos:\n", nuevo)

# Suma notas_mates y "nuevo" de forma vectorizada y guarda el resultado en ndarray "suma". Imprime el resultado.
suma = nota_mates + nuevo
print("\nSuma de nuevo y nota_mates")
print(suma)

# Muestra el número de notas de suma
print("\nNúmero de notas de mates: ", nota_mates.shape[0])

Array de unos:
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

Suma de nuevo y nota_mates
[ 5.3 10.1  8.2  5.8  8.2  5.4  6.5  5.2  7.9  4.3  5.5  6.6  6.4  7.8
  6.1]

Número de notas de mates:  15

In [29]:
# Muestra si existe al menos un alumno que haya suspendido lengua. Con mostrar True o False es sufiente.
suspenso = np.any(nota_lengua < 5)
print("Ha suspendido algún alumno: ", suspenso)

Ha suspendido algún alumno:  True

In [30]:
# Muestra el nombre de los alumnos que han aprobado matemáticas
print("Alumnos aprobados en matemáticas:")
print(alumnos[nota_mates >= 5])

Alumnos aprobados en matemáticas:
['Noelia' 'Pedro' 'Antonio' 'Patricia' 'Manuel' 'Sara' 'María' 'Rubén'
 'Bárbara']

In [31]:
# Muestra el nombre de los alumnos que han sacado, en matemáticas, menor nota que la media de matemáticas
print("Alumnos con menor nota que la media de matemáticas:")
media = np.mean(nota_mates)
print(alumnos[nota_mates < media])

Alumnos con menor nota que la media de matemáticas:
['Juan' 'Marta' 'Carlos' 'Patricia' 'Carmen' 'Jorge' 'Jose' 'Sara' 'María'
 'Bárbara']

In [ ]:
#Muestra el nombre de los alumnos que han sacado mayor nota en mates que en física
print("Alumnos que tienen mejor nota en mates que en física:")
print(alumnos[nota_mates > nota_fisica])

Alumnos que tienen mejor nota en mates que en física:
Carlos Jose Rubén ['Carlos' 'Jose' 'Rubén']

In [ ]:
# Muestra el nombre de los alumnos que han suspendido matemáticas y lengua
print("Alumnos que han suspendido matemáticas y lengua:")
print(alumnos[(nota_mates < 5) & (nota_lengua < 5)])

Alumnos que han suspendido matemáticas y lengua:
Carmen Jorge ['Carmen' 'Jorge']

In [ ]:
# Muestra el nombre de los alumnos que han aprobado todo
print("Alumnos que han aprobado todo:")
print(alumnos[(nota_mates >= 5) & (nota_lengua >= 5) & (nota_fisica >= 5)])

Alumnos que han aprobado todo:
Noelia Pedro Antonio Patricia Sara María Bárbara ['Noelia' 'Pedro' 'Antonio' 'Patricia' 'Sara' 'María' 'Bárbara']

In [67]:
""" 
Genera un ndarray de strings, indicando en cada valor "lengua" o "fisica"
El ndarray debe indicar, por cada alumno, la asignatura donde tiene la nota más alta entre lengua y fisica
"""
# strings = np.array({"Lengua" : alumnos[nota_lengua > nota_fisica], "Física" : alumnos[nota_lengua < nota_fisica]})
# print(strings)
print(f"Lengua: {alumnos[nota_lengua > nota_fisica]}")
print(f"Física: {alumnos[nota_lengua < nota_fisica]}")

Lengua: ['Marta' 'Carlos' 'Jorge' 'Jose' 'Rubén']
Física: ['Juan' 'Noelia' 'Pedro' 'Antonio' 'Patricia' 'Carmen' 'Manuel' 'María'
 'Bárbara']

In [57]:
# Genera un array que guarde la nota media de las tres asignaturas, redondeando a 2 decimales. Una el método ndarray.round() para redondear.
nota_media_mates = nota_mates.mean().round(2)
nota_media_lengua = nota_lengua.mean().round(2)
nota_media_fisica = nota_fisica.mean().round(2)
medias = np.array([nota_media_mates, nota_media_lengua, nota_media_fisica])
# medias = np.array({"Mates" : nota_media_mates, "Lengua": nota_media_lengua, "Física" : nota_media_fisica})
print(medias)

[5.62 6.05 5.98]

In [58]:
# Calcula y muestra cuantos alumnos han aprobado y cuantos han suspendido en matemáticas (se aprueba con 5 o más)
num_aprobados = np.sum(nota_mates >= 5)
num_suspendidos = np.sum(nota_mates < 5)
print("Número de alumnos aprobados:", num_aprobados)
print("Número de alumnos suspendidos:", num_suspendidos)

Número de alumnos aprobados: 9
Número de alumnos suspendidos: 6

In [ ]:
# Calcula y muestra un array llamado "maximas" que guarde la nota más alta de cada alumno entre las 3 asignaturas


# Muestra el nombre del alumno que ha sacado la nota más alta entre todas las asignaturas

# Ejercicio 2: Pandas (4 puntos)

* Cada celda vale 0.5 puntos
* Si la celda es generar o modificar un df, muéstralo.

In [68]:
# =====
# Datos
# =====
import pandas as pd

# Datos para el DataFrame
data = {
    'Sucursal': ['Norte', 'Sur', 'Este', 'Oeste', 'Norte', 'Sur', 'Este', 'Oeste', 'Norte', 'Sur'],
    'Trimestre': ['Q1', 'Q1', 'Q1', 'Q1', 'Q2', 'Q2', 'Q2', 'Q2', 'Q3', 'Q3'],
    'Producto': ['A', 'B', 'C', 'D', 'A', 'B', 'C', 'D', 'A', 'B'],
    'Ventas': [150, 120, 90, 210, 160, 130, 95, 220, 180, 140],
    'Precio': [10.5, 5.0, 25.0, 3.5, 10.5, 5.0, 25.0, 3.5, 11.0, 5.0]
}

# Creación del DataFrame
df_ventas = pd.DataFrame(data)
df_ventas

  Sucursal Trimestre Producto  Ventas  Precio
0    Norte        Q1        A     150    10.5
1      Sur        Q1        B     120     5.0
2     Este        Q1        C      90    25.0
3    Oeste        Q1        D     210     3.5
4    Norte        Q2        A     160    10.5
5      Sur        Q2        B     130     5.0
6     Este        Q2        C      95    25.0
7    Oeste        Q2        D     220     3.5
8    Norte        Q3        A     180    11.0
9      Sur        Q3        B     140     5.0

In [83]:
# Ordena el DF por columna 'Ventas' en orden descendente. (inplace) 
ventas_ordenado = df_ventas.set_index(["Ventas"]).sort_index(ascending=False, inplace=False)
ventas_ordenado

       Sucursal Trimestre Producto  Precio
Ventas
220       Oeste        Q2        D     3.5
210       Oeste        Q1        D     3.5
180       Norte        Q3        A    11.0
160       Norte        Q2        A    10.5
150       Norte        Q1        A    10.5
140         Sur        Q3        B     5.0
130         Sur        Q2        B     5.0
120         Sur        Q1        B     5.0
95         Este        Q2        C    25.0
90         Este        Q1        C    25.0

In [116]:
# Crea una nueva columna en df_ventas que sea Ventas * Precio llamada Facturado

In [94]:
# Calcula y muestra CUÁNTOS productos hay de clase A
print(f"Existen {(df_ventas["Producto"] == 'A').sum()} productos con la letra A")

Existen 3 productos con la letra A

In [100]:
# Muestra los productos que se han ventido 200 o más unidades. Columnas Producto, Ventas, Precio
mas_200 = df_ventas["Ventas"] >= 200
print(df_ventas.loc[mas_200, ['Producto', 'Ventas', 'Precio']])

  Producto  Ventas  Precio
3        D     210     3.5
7        D     220     3.5

In [106]:
# Muestra la fila de sucursal Norte donde más ventas (unidades vendidas) ha habido
norte = df_ventas["Sucursal"] == 'Norte'
df_ventas.loc[norte].max()

Sucursal     Norte
Trimestre       Q3
Producto         A
Ventas         180
Precio        11.0
dtype: object

In [107]:
# Pon la columna 'Sucursal' como etiquetas de las filas. EL RESULTADO se guarda en df_label
df_label = df_ventas.set_index(["Sucursal"])
df_label

         Trimestre Producto  Ventas  Precio
Sucursal
Norte           Q1        A     150    10.5
Sur             Q1        B     120     5.0
Este            Q1        C      90    25.0
Oeste           Q1        D     210     3.5
Norte           Q2        A     160    10.5
Sur             Q2        B     130     5.0
Este            Q2        C      95    25.0
Oeste           Q2        D     220     3.5
Norte           Q3        A     180    11.0
Sur             Q3        B     140     5.0

In [111]:
# Muestra las columnas 'Trimestre', 'Producto' y 'Ventas' de las filas donde la sucursal es 'Norte' de df_label
print(df_label.loc["Norte", ["Trimestre", "Producto", "Ventas"]])

         Trimestre Producto  Ventas
Sucursal
Norte           Q1        A     150
Norte           Q2        A     160
Norte           Q3        A     180

In [113]:
"""
A partir de df_ventas establece 'Sucursal' y 'Trimestre' como multi índice de 2 niveles. Guarda el resultado en df_label
Luego, muestra solamente los registros de la sucursal 'Sur' del primer trimestre.
"""
df_label = df_ventas.set_index(["Sucursal", "Trimestre"])
df_label.loc["Sur", "Q1"]

Producto      B
Ventas      120
Precio      5.0
Name: (Sur, Q1), dtype: object