In [2]:
# Los ficheros 2015.csv y 2019.csv tienen las siguientes columnas e información
# https://www.kaggle.com/datasets/unsdsn/world-happiness

#importa ambos datasets
import pandas as pd

data2015 = pd.read_csv('2015.csv')
data2019 = pd.read_csv('2019.csv')



# Quedate con las columnas país, región, ranking happiness, score happines.
data2015.drop(columns=['Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'], inplace=True)

data2019.drop(columns=['GDP per capita','Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'], inplace=True)

# Renombra a pais, region, puesto, puntuacion
data2015.columns=['Pais', 'Region', 'Puesto', 'Puntuacion']
data2019.columns=['Puesto', 'Pais', 'Puntuacion']

# añadimos año
data2015['Año'] = 2015

# une ambos datasets de manera que tengas las siguientes columnas
# pais, region, año, puesto, puntuacion
data2015.head(4)

          Pais          Region  Puesto  Puntuacion   Año
0  Switzerland  Western Europe       1       7.587  2015
1      Iceland  Western Europe       2       7.561  2015
2      Denmark  Western Europe       3       7.527  2015
3       Norway  Western Europe       4       7.522  2015

In [3]:
data2019['Año'] = 2019
data2019.head(4)

   Puesto     Pais  Puntuacion   Año
0       1  Finland       7.769  2019
1       2  Denmark       7.600  2019
2       3   Norway       7.554  2019
3       4  Iceland       7.494  2019

In [4]:
#data2019['Region'] = pd.map('Pais')
def region(pais):
    consulta =  data2015.query(f'Pais == "{pais}"')['Region']
    try:
        return consulta.values[0]
    except:
        return None

print(region('Finland'))

Western Europe

In [5]:
data2019['Region'] = data2019['Pais'].map(region)
data2019.head(10)

   Puesto         Pais  Puntuacion   Año                     Region
0       1      Finland       7.769  2019             Western Europe
1       2      Denmark       7.600  2019             Western Europe
2       3       Norway       7.554  2019             Western Europe
3       4      Iceland       7.494  2019             Western Europe
4       5  Netherlands       7.488  2019             Western Europe
5       6  Switzerland       7.480  2019             Western Europe
6       7       Sweden       7.343  2019             Western Europe
7       8  New Zealand       7.307  2019  Australia and New Zealand
8       9       Canada       7.278  2019              North America
9      10      Austria       7.246  2019             Western Europe

In [6]:
resultado = pd.concat([data2015, data2019])

In [62]:
resultado.isnull().sum()

Pais          0
Region        7
Puesto        0
Puntuacion    0
Año           0
dtype: int64

In [9]:
resultado.query("Pais == 'Denmark'")

      Pais          Region  Puesto  Puntuacion   Año
2  Denmark  Western Europe       3       7.527  2015
1  Denmark  Western Europe       2       7.600  2019

In [24]:
# el siguiente dataset a utilizar es el siguiente
# https://www.kaggle.com/datasets/utkarshxy/who-worldhealth-statistics-2020-complete
# utilizaremos lifeExpectancyAtBirth.csv, importa el csv
# las columnas las puedes consultar en el enlace de kaggle
lifeexpectancy = pd.read_csv('lifeExpectancyAtBirth.csv')

# Borra la columna indicator y renombra el resto a: pais, año, sexo, edad
lifeexpectancy.drop(columns=['Indicator'], inplace=True)
lifeexpectancy.head(5)


# crea un dataset solamente con las filas del 2015 y 2019
filtrado = lifeexpectancy.query('Period in (2019,2015)').copy()

filtrado.columns=['Pais', 'Año', 'Sexo', 'Edad']
filtrado.head(6)

          Pais   Año        Sexo   Edad
0  Afghanistan  2019  Both sexes  63.21
1  Afghanistan  2019        Male  63.29
2  Afghanistan  2019      Female  63.16
3  Afghanistan  2015  Both sexes  61.65
4  Afghanistan  2015        Male  61.04
5  Afghanistan  2015      Female  62.35

In [21]:
final = pd.merge(resultado, filtrado, how = 'inner', on =['Pais', 'Año'])
final.head(10)

          Pais          Region  Puesto  Puntuacion   Año        Sexo   Edad
0  Switzerland  Western Europe       1       7.587  2015  Both sexes  82.61
1  Switzerland  Western Europe       1       7.587  2015        Male  80.64
2  Switzerland  Western Europe       1       7.587  2015      Female  84.50
3      Iceland  Western Europe       2       7.561  2015  Both sexes  82.14
4      Iceland  Western Europe       2       7.561  2015        Male  80.69
5      Iceland  Western Europe       2       7.561  2015      Female  83.56
6      Denmark  Western Europe       3       7.527  2015  Both sexes  80.59
7      Denmark  Western Europe       3       7.527  2015        Male  78.80
8      Denmark  Western Europe       3       7.527  2015      Female  82.35
9       Norway  Western Europe       4       7.522  2015  Both sexes  82.01

In [22]:
final.query('Pais == "Denmark"')

        Pais          Region  Puesto  Puntuacion   Año        Sexo   Edad
6    Denmark  Western Europe       3       7.527  2015  Both sexes  80.59
7    Denmark  Western Europe       3       7.527  2015        Male  78.80
8    Denmark  Western Europe       3       7.527  2015      Female  82.35
405  Denmark  Western Europe       2       7.600  2019  Both sexes  81.32
406  Denmark  Western Europe       2       7.600  2019        Male  79.59
407  Denmark  Western Europe       2       7.600  2019      Female  83.02

In [23]:
final.isnull().sum()

Pais           0
Region        12
Puesto         0
Puntuacion     0
Año            0
Sexo           0
Edad           0
dtype: int64

In [ ]:
#junta ambos dataframes en uno solo. Quizás sea conveniente poner todos los string a lower

#El dataframe resultante será algo así
#pais, region, año, puesto, puntuacion, sexo, edad

In [ ]:
# Mira donde se han producido nulos. Al hacer el merge si un país tiene tilde puesta en un df
# pero en otro df no la tiene, entonces no se juntarán esas filas. 
# si hay errores habrá que descubrirlos y arreglarlos a mano

In [ ]:
# Después de arreglar errores aún puede haber nulos porque falte información
# quizás hay paises que están en 2015.csv que no estan en el resto de csv o similar.
# Elimina los nulos rellenando con valores similares a tu conveniencia.

In [ ]:
#  Mostrar los 10 primeros paises con mayor incremento de puntuación de 2015 a 2019, de forma ordenada

In [ ]:
# Mostrar el nombre del país y la espanza de vida de los 10 paises con mayor esperanza en ambos sexos

In [ ]:
# Agrupar por región y mostrar la media de la puntuación de felicidad y esperanza de vida de ambos sexos

In [ ]:
# ¿existe algún país donde la esperanza de vida sea mayor en hombres que en mujeres?

In [ ]:
# Muestra la media de la esperanza de vida de ambos sexos agrupados por región y año

In [ ]:
# Muestra la media de la esperanza de vida agrupando por año y sexo para comparar la evolución general

In [ ]:
# Muestra, agrupando por país, la esperanza de vida mayor.