# üìù EXAMEN PR√ÅCTICO ‚Äì PANDAS TEMA 2

**Duraci√≥n:** 2 horas  
**Material permitido:** Documentaci√≥n oficial de Pandas  

---
## üìÇ Dataset

Se proporciona el fichero **`examen_pandas_T2.csv`**, que contiene informaci√≥n sobre medallas ol√≠mpicas por pa√≠s y a√±o.

**Columnas:**
- `pais`: nombre del pa√≠s  
- `anio`: a√±o de los Juegos Ol√≠mpicos  
- `oro`: n√∫mero de medallas de oro  
- `plata`: n√∫mero de medallas de plata  
- `bronce`: n√∫mero de medallas de bronce  
- `poblacion_mill`: poblaci√≥n del pa√≠s (en millones)

## Ejercicio 1 ‚Äì Carga y exploraci√≥n (1 punto)

1. Carga el fichero CSV en un DataFrame llamado `df`.
2. Muestra las 5 primeras filas del DataFrame.
3. Muestra la informaci√≥n general del DataFrame.
4. Comprueba si existen valores nulos en el dataset.

In [1]:
# Tu c√≥digo aqu√≠
import pandas as pd
import numpy as np
df  = pd.read_csv('examen_pandas_T2.csv')
print(df.head())
print('--------------------------------')
print(df.info())
print('--------------------------------')
df.isnull()

       pais  anio  oro  plata  bronce  poblacion_mill
0    Espa√±a  2016    7      4       6              47
1   Francia  2016   10     18      14              67
2  Alemania  2016   17     10      15              83
3    Italia  2016    8     12       8              60
4    Espa√±a  2020    3      8       6              47
--------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   pais            8 non-null      object
 1   anio            8 non-null      int64
 2   oro             8 non-null      int64
 3   plata           8 non-null      int64
 4   bronce          8 non-null      int64
 5   poblacion_mill  8 non-null      int64
dtypes: int64(5), object(1)
memory usage: 516.0+ bytes
None
--------------------------------

    pais   anio    oro  plata  bronce  poblacion_mill
0  False  False  False  False   False           False
1  False  False  False  False   False           False
2  False  False  False  False   False           False
3  False  False  False  False   False           False
4  False  False  False  False   False           False
5  False  False  False  False   False           False
6  False  False  False  False   False           False
7  False  False  False  False   False           False

## Ejercicio 2 ‚Äì Consultas con `query` (2 puntos)

1. Muestra los pa√≠ses que en el a√±o **2020** consiguieron **m√°s de 9 medallas de oro**.
2. Muestra las filas correspondientes a **Espa√±a y Francia** utilizando una lista y el m√©todo `query`.
3. Muestra los registros donde el **n√∫mero total de medallas** (oro + plata + bronce) sea mayor de 30.

In [2]:
# Tu c√≥digo aqu√≠
# Primero, filtrar las filas donde el a√±o es 2020
print("SIN QUERY")
medallas_2020_mas_de_9 = df["anio"] == 2020
# Segundo hago que la variable sea df con las filas filtradas
medallas_2020_mas_de_9 = df[medallas_2020_mas_de_9]
# Tercero, saco las filas donde las medallas de oro son mayores a 9
medallas_2020_mas_de_9 = medallas_2020_mas_de_9["oro"] > 9
# Cuarto, filtro el dataframe original con ambas condiciones
medallas_2020_mas_de_9 = df[medallas_2020_mas_de_9 & (df["anio"] == 2020)]
print(medallas_2020_mas_de_9)
print('--------------------------------')
esp_francia = df["pais"].isin(["Espa√±a", "Francia"])
esp_francia = df[esp_francia]
print(esp_francia)
print('--------------------------------')
medallas_mas_de_30 = (df["oro"] + df["plata"] + df["bronce"]) > 30
medallas_mas_de_30 = df[medallas_mas_de_30]
print(medallas_mas_de_30)
print('--------------------------------')
print("CON QUERY")
medallas_2020_mas_de_9_query = df.query('anio == 2020 and oro > 9')
print(medallas_2020_mas_de_9_query)
print('--------------------------------')
# Tu c√≥digo aqu√≠
# Segundo, filtro las filas donde el pa√≠s sea Espa√±a o Francia
esp_francia = df.query('pais == "Espa√±a" or pais == "Francia"')
print(esp_francia)
print('--------------------------------')
# Tu c√≥digo aqu√≠
# Tercero, filtro las filas donde la suma de las medallas sea mayor a 30
medallas_mas_de_30 = df.query('oro + plata + bronce > 30')
print(medallas_mas_de_30)

SIN QUERY
       pais  anio  oro  plata  bronce  poblacion_mill
5   Francia  2020   10     12      11              67
6  Alemania  2020   10     11      16              83
7    Italia  2020   10     10      20              60
--------------------------------
      pais  anio  oro  plata  bronce  poblacion_mill
0   Espa√±a  2016    7      4       6              47
1  Francia  2016   10     18      14              67
4   Espa√±a  2020    3      8       6              47
5  Francia  2020   10     12      11              67
--------------------------------
       pais  anio  oro  plata  bronce  poblacion_mill
1   Francia  2016   10     18      14              67
2  Alemania  2016   17     10      15              83
5   Francia  2020   10     12      11              67
6  Alemania  2020   10     11      16              83
7    Italia  2020   10     10      20              60
--------------------------------
CON QUERY
       pais  anio  oro  plata  bronce  poblacion_mill
5   Francia  2020   10     12      11              67
6  Alemania  2020   10     11      16              83
7    Italia  2020   10     10      20              60
--------------------------------
      pais  anio  oro  plata  bronce  poblacion_mill
0   Espa√±a  2016    7      4       6              47
1  Francia  2016   10     18      14              67
4   Espa√±a  2020    3      8       6              47
5  Francia  2020   10     12      11              67
--------------------------------
       pais  anio  oro  plata  bronce  poblacion_mill
1   Francia  2016   10     18      14              67
2  Alemania  2016   17     10      15              83
5   Francia  2020   10     12      11              67
6  Alemania  2020   10     11      16              83
7    Italia  2020   10     10      20              60

## Ejercicio 3 ‚Äì Transformaci√≥n de datos (2 puntos)

1. Crea una nueva columna llamada `total_medallas` que sea la suma de oro, plata y bronce.
2. Crea una columna `medallas_por_millon` dividiendo el total de medallas entre la poblaci√≥n.
3. Redondea la columna `medallas_por_millon` a 2 decimales.

In [3]:
# Tu c√≥digo aqu√≠
df['total_medallas'] = df['oro'] + df['plata'] + df['bronce']
df['medallas_por_millon'] = df['total_medallas'] / df['poblacion_mill']
df['medallas_por_millon'] = df['medallas_por_millon'].round(2)
df

,pais,anio,oro,plata,bronce,poblacion_mill,total_medallas,medallas_por_millon
0,Espa√±a,2016,7,4,6,47,17,0.36
1,Francia,2016,10,18,14,67,42,0.63
2,Alemania,2016,17,10,15,83,42,0.51
3,Italia,2016,8,12,8,60,28,0.47
4,Espa√±a,2020,3,8,6,47,17,0.36
5,Francia,2020,10,12,11,67,33,0.49
6,Alemania,2020,10,11,16,83,37,0.45
7,Italia,2020,10,10,20,60,40,0.67

## Ejercicio 4 ‚Äì Discretizaci√≥n (2 puntos)

1. Discretiza la columna `total_medallas` en los siguientes grupos:
- **Bajo**: menos de 25
- **Medio**: entre 25 y 40
- **Alto**: m√°s de 40

2. Guarda el resultado en una columna llamada `nivel_medallas`.
3. Muestra cu√°ntos pa√≠ses hay en cada categor√≠a.

In [4]:
# Tu c√≥digo aqu√≠
df["nivel_medallas"] = pd.cut(df['total_medallas'], bins=[0, 25, 40, 200], labels=["Bajo", "Medio", "Alto"])
df

,pais,anio,oro,plata,bronce,poblacion_mill,total_medallas,medallas_por_millon,nivel_medallas
0,Espa√±a,2016,7,4,6,47,17,0.36,Bajo
1,Francia,2016,10,18,14,67,42,0.63,Alto
2,Alemania,2016,17,10,15,83,42,0.51,Alto
3,Italia,2016,8,12,8,60,28,0.47,Medio
4,Espa√±a,2020,3,8,6,47,17,0.36,Bajo
5,Francia,2020,10,12,11,67,33,0.49,Medio
6,Alemania,2020,10,11,16,83,37,0.45,Medio
7,Italia,2020,10,10,20,60,40,0.67,Medio

## Ejercicio 5 ‚Äì Variables dummy (1 punto)

1. Convierte la columna `nivel_medallas` en variables dummy.
2. A√±ade estas columnas al DataFrame original usando el m√©todo `join`.

In [5]:
# Tu c√≥digo aqu√≠
pd.get_dummies(df['nivel_medallas'], prefix='Nivel')
df = df.join(pd.get_dummies(df['nivel_medallas'], prefix='Nivel'))
df

,pais,anio,oro,plata,bronce,poblacion_mill,total_medallas,medallas_por_millon,nivel_medallas,Nivel_Bajo,Nivel_Medio,Nivel_Alto
0,Espa√±a,2016,7,4,6,47,17,0.36,Bajo,True,False,False
1,Francia,2016,10,18,14,67,42,0.63,Alto,False,False,True
2,Alemania,2016,17,10,15,83,42,0.51,Alto,False,False,True
3,Italia,2016,8,12,8,60,28,0.47,Medio,False,True,False
4,Espa√±a,2020,3,8,6,47,17,0.36,Bajo,True,False,False
5,Francia,2020,10,12,11,67,33,0.49,Medio,False,True,False
6,Alemania,2020,10,11,16,83,37,0.45,Medio,False,True,False
7,Italia,2020,10,10,20,60,40,0.67,Medio,False,True,False

## Ejercicio 6 ‚Äì Agrupaciones y agregaci√≥n (2 puntos)

1. Calcula el **total de medallas por pa√≠s**.
2. Calcula la **media de medallas de oro por pa√≠s**.
3. Calcula, agrupando por pa√≠s, el **m√°ximo y m√≠nimo** del total de medallas.

In [6]:
# Tu c√≥digo aqu√≠
total_medallas_por_pais = df.groupby('pais')['total_medallas'].sum().reset_index()
total_medallas_por_pais = total_medallas_por_pais.sort_values(by='total_medallas', ascending=False)
print(total_medallas_por_pais)
print('--------------------------------')
media_medallas_por_pais = df.groupby('pais')['total_medallas'].mean().reset_index()
media_medallas_por_pais = media_medallas_por_pais.sort_values(by='total_medallas', ascending=False)
print(media_medallas_por_pais)
print('--------------------------------')
max_min_medallas_por_pais = df.groupby('pais')['total_medallas'].agg(['max', 'min']).reset_index()
print(max_min_medallas_por_pais)

       pais  total_medallas
0  Alemania              79
2   Francia              75
3    Italia              68
1    Espa√±a              34
--------------------------------
       pais  total_medallas
0  Alemania            39.5
2   Francia            37.5
3    Italia            34.0
1    Espa√±a            17.0
--------------------------------
       pais  max  min
0  Alemania   42   37
1    Espa√±a   17   17
2   Francia   42   33
3    Italia   40   28

## Ejercicio 7 ‚Äì Pregunta final (opcional / subida de nota)

¬øCu√°l es el pa√≠s con **mejor ratio de medallas por mill√≥n de habitantes** en todo el dataset?

Justifica brevemente el resultado mostrando los c√°lculos realizados.

In [7]:
# Tu c√≥digo aqu√≠
# ¬øCu√°l es el pa√≠s con **mejor ratio de medallas por mill√≥n de habitantes** en todo el dataset?
mejor_ratio = df.loc[df['medallas_por_millon'].idxmax()]
print("Pa√≠s con mejor ratio de medallas por mill√≥n de habitantes:")
print(mejor_ratio)

Pa√≠s con mejor ratio de medallas por mill√≥n de habitantes:
pais                   Italia
anio                     2020
oro                        10
plata                      10
bronce                     20
poblacion_mill             60
total_medallas             40
medallas_por_millon      0.67
nivel_medallas          Medio
Nivel_Bajo              False
Nivel_Medio              True
Nivel_Alto              False
Name: 7, dtype: object