In [1]:
import pandas as pd

df = pd.read_csv('titanic.csv', index_col=0)
df.head(3)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

# Limpieza

In [2]:
# De la columna edad, cambia los valores nulos a la edad media según edad y Pclass.
# Es decir, si un nulo es mujer y de clase 3, su valor en edad será la media de edades de mujeres de clase 3.
df['Age'] = df.groupby(['Sex', 'Pclass'])['Age'].transform(lambda x: x.fillna(x.mean()))

In [3]:
# Cambia los nulos de Cabin por el valor más repetido según su Pclass
df['Cabin'] = df.groupby('Pclass')['Cabin'].transform(lambda x: x.fillna(x.mode()[0]))

In [4]:
# Elmina las columnas con nulos en Embarked
df = df.dropna(subset=['Embarked'])

In [5]:
# Elimina la columna Ticket y Cabin
df = df.drop(columns=['Ticket', 'Cabin'])

In [6]:
# Renombra las etiquetas de las columnas a valores en español con rename
df = df.rename(columns={
    'Survived': 'Superviviente',
    'Pclass': 'Clase',
    'Name': 'Nombre',
    'Sex': 'Sexo',
    'Age': 'Edad',
    'SibSp': 'Hermanos/Conyuge',
    'Parch': 'Padres/Hijos',
    'Fare': 'Tarifa',
    'Embarked': 'Puerto_Embarque'})

# Consultas 


- Edad media de los supervivientes que viajaban sin familiares
- Precio medio de hombres que sobrevivieron
- Precio mínimo y máximo de pasajeros que sobrevivieron y no.
- Tasa de superviviencia (porcentaje) de hombres.

# Discretización

- Mediante map y un diccionario, aplica a la columna sexo un valor de 1 para los hombres, 2 para las mujeres.
- Crea una nueva columna precio_cat con los valores para el precio distribuyendolo según su precio con cut en 4 grupos con las siguientes etiquetas lowcost, normal, superior, lujo.
- ¿Cuántos valores hay de cada categoría de precio?
- Crea una columna edad_cat con 10 grupos homogeneos con qcut y muestra cuántos valores hay de cada categoría.

# Consultas

- ¿Cuál es el precio medio de cada categoría? hazlo mediante varias consultas query, sin usar groupby.
- ¿Cuantos sobrevivieron de cada categoría de precio? hazlo sin groupby

# Matriz Dummy

Genera una matriz dummy a partir de la columna Edad_cat y adjuntala al dataframe de tipos enteros, no booleanos. El tipo int más pequeño 'int8'.

Adjunta la matriz dummy y elimina la columna 'Precio_cat'.