# Pandas (Dataframe)

In [2]:
import pandas as pd
# DataFrame
df = pd.read_csv('barca_2015_partidos.csv')
print("Partidos del Barça en 2015:")
df.head()

Partidos del Barça en 2015:

,Fecha,Competición,Rival,Lugar,Goles_Barca,Goles_Rival
0,2015-01-04,La Liga,Real Sociedad,Casa,1,0
1,2015-01-11,La Liga,Atlético de Madrid,Fuera,3,1
2,2015-03-22,La Liga,Real Madrid,Casa,2,1
3,2015-05-17,La Liga,Atlético de Madrid,Fuera,1,0
4,2015-06-06,Champions,Juventus,Neutral,3,1

In [ ]:
# DataFrame con diccionario (data = diccionario, index = filas, colums = columnas), menos el diccionario el resto de parámetros son opcionales
# Con una lista de listas
df_ejemplo = pd.DataFrame([["Leo Messi", 34, "Delantero"], ["Andrés Iniesta", 36, "Centrocampista"], ["Neymar Jr", 28, "Delantero"]], columns=["Nombre", "Edad", "Posición"])
print("\nEjemplo de DataFrame con lista de listas:")
df_ejemplo.head()
# Con diccionario
df_ejemplo2 = pd.DataFrame({"Nombre": ["Sergio Busquets", "Gerard Piqué", "Jordi Alba"], "Edad": [32, 33, 31], "Posición": ["Centrocampista", "Defensa", "Defensa"]})
print("\nEjemplo de DataFrame con diccionario:")
df_ejemplo2.head()

Ejemplo de DataFrame con lista de listas:

Ejemplo de DataFrame con diccionario:

            Nombre  Edad        Posición
0  Sergio Busquets    32  Centrocampista
1     Gerard Piqué    33         Defensa
2       Jordi Alba    31         Defensa

In [ ]:
# Atributos
print("Dimensiones (filas, columnas):", df.shape)
print("\nNúmero de elementos de DataFrame:", df.size)
print("\nNombres de las columnas:", df.columns)
print("\nDevuelve un objeto Index que representa las etiquetas de las filas", df.index)
# Si se quiere una lista, se puede usar list(df.index).
print("\nDevuelve una serie con el tipo de dato de cada columna:")
print(df.dtypes)
print("\nDevuelve un ndarray con los datos del DataFrame(se recomienda usar df.to_numpy()):")
print(df.values)

Dimensiones (filas, columnas): (5, 6)

Número de elementos de DataFrame: 30

Nombres de las columnas: Index(['Fecha', 'Competición', 'Rival', 'Lugar', 'Goles_Barca', 'Goles_Rival'], dtype='object')

Devuelve un objeto Index que representa las etiquetas de las filas RangeIndex(start=0, stop=5, step=1)
[0, 1, 2, 3, 4]

Devuelve una serie con el tipo de dato de cada columna:
Fecha          object
Competición    object
Rival          object
Lugar          object
Goles_Barca     int64
Goles_Rival     int64
dtype: object

Devuelve un ndarray con los datos del DataFrame(se recomienda usar df.to_numpy()):
[['2015-01-04' 'La Liga' 'Real Sociedad' 'Casa' 1 0]
 ['2015-01-11' 'La Liga' 'Atlético de Madrid' 'Fuera' 3 1]
 ['2015-03-22' 'La Liga' 'Real Madrid' 'Casa' 2 1]
 ['2015-05-17' 'La Liga' 'Atlético de Madrid' 'Fuera' 1 0]
 ['2015-06-06' 'Champions' 'Juventus' 'Neutral' 3 1]]

In [24]:
# Ejemplo: Convertir DataFrame a numpy array
import numpy as np

array = df.to_numpy()
print("DataFrame convertido a NumPy array:")
print(array)

# Ejemplo 2: Obtener una columna en formato NumPy
goles = df["Goles_Barca"].to_numpy()
print("\nColumna 'Goles_Barca' en formato NumPy:")
print(goles)

# Ejemplo 3: Operaciones NumPy sobre DataFrame
goles = df["Goles_Barca"].to_numpy()

print("\nMedia (usando NumPy):", np.mean(goles))
print("Desviación típica:", np.std(goles))
print("Máximo:", np.max(goles))
print("Mínimo:", np.min(goles))

DataFrame convertido a NumPy array:
[['2015-01-04' 'La Liga' 'Real Sociedad' 'Casa' 1 0]
 ['2015-01-11' 'La Liga' 'Atlético de Madrid' 'Fuera' 3 1]
 ['2015-03-22' 'La Liga' 'Real Madrid' 'Casa' 2 1]
 ['2015-05-17' 'La Liga' 'Atlético de Madrid' 'Fuera' 1 0]
 ['2015-06-06' 'Champions' 'Juventus' 'Neutral' 3 1]]

Columna 'Goles_Barca' en formato NumPy:
[1 3 2 1 3]

Media (usando NumPy): 2.0
Desviación típica: 0.8944271909999159
Máximo: 3
Mínimo: 1

In [17]:
#Funciones básicas
print("Devuelve información resumida del DataFrame:")
print(df.info())
print("\nDevuelve las n primeras filas del DataFrame:")
print(df.head(3))
print("\nDevuelve las n últimas filas del DataFrame:")
df.tail(3)

Devuelve información resumida del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Fecha        5 non-null      object
 1   Competición  5 non-null      object
 2   Rival        5 non-null      object
 3   Lugar        5 non-null      object
 4   Goles_Barca  5 non-null      int64
 5   Goles_Rival  5 non-null      int64
dtypes: int64(2), object(4)
memory usage: 372.0+ bytes
None

Devuelve las n primeras filas del DataFrame:
        Fecha Competición               Rival  Lugar  Goles_Barca  Goles_Rival
0  2015-01-04     La Liga       Real Sociedad   Casa            1            0
1  2015-01-11     La Liga  Atlético de Madrid  Fuera            3            1
2  2015-03-22     La Liga         Real Madrid   Casa            2            1

Devuelve las n últimas filas del DataFrame:

,Fecha,Competición,Rival,Lugar,Goles_Barca,Goles_Rival
2,2015-03-22,La Liga,Real Madrid,Casa,2,1
3,2015-05-17,La Liga,Atlético de Madrid,Fuera,1,0
4,2015-06-06,Champions,Juventus,Neutral,3,1

In [33]:
# Configurar índices de filas y nombres de columnas
# Seleccionar datos de 1 columna como índice:
df_indexado = df.set_index("Rival")
print("\nDataFrame con 'Rival' como índice de filas:")
print(df_indexado.head())
# Reodernar filas o columnas o introducir nuevas o filtrar:
df_reordenado = df.reindex(columns=["Fecha", "Rival", "Goles_Barca", "Goles_Rival", "Local/Visitante"])
print("\nDataFrame con columnas reordenadas:")
print(df_reordenado.head())
# Filtrar filas por índice:
df_filtrado = df.reindex(index=[0, 2, 3, 1, 4])
print("\nDataFrame filtrado por índices de fila:")
print(df_filtrado.head())
# Renombrar filas y columnas:
df_renombrado = df.rename(columns={"Goles_Barca": "Goles del Barça", "Goles_Rival": "Goles del Rival"}, index={0: "Partido 1", 1: "Partido 2", 2: "Partido 3", 3: "Partido 4", 4: "Partido 5" })
print("\nDataFrame con filas y columnas renombradas:")
df_renombrado.head()

DataFrame con 'Rival' como índice de filas:
                         Fecha Competición    Lugar  Goles_Barca  Goles_Rival
Rival
Real Sociedad       2015-01-04     La Liga     Casa            1            0
Atlético de Madrid  2015-01-11     La Liga    Fuera            3            1
Real Madrid         2015-03-22     La Liga     Casa            2            1
Atlético de Madrid  2015-05-17     La Liga    Fuera            1            0
Juventus            2015-06-06   Champions  Neutral            3            1

DataFrame con columnas reordenadas:
        Fecha               Rival  Goles_Barca  Goles_Rival  Local/Visitante
0  2015-01-04       Real Sociedad            1            0              NaN
1  2015-01-11  Atlético de Madrid            3            1              NaN
2  2015-03-22         Real Madrid            2            1              NaN
3  2015-05-17  Atlético de Madrid            1            0              NaN
4  2015-06-06            Juventus            3            1              NaN

DataFrame filtrado por índices de fila:
        Fecha Competición               Rival    Lugar  Goles_Barca  \
0  2015-01-04     La Liga       Real Sociedad     Casa            1
2  2015-03-22     La Liga         Real Madrid     Casa            2
3  2015-05-17     La Liga  Atlético de Madrid    Fuera            1
1  2015-01-11     La Liga  Atlético de Madrid    Fuera            3
4  2015-06-06   Champions            Juventus  Neutral            3

   Goles_Rival
0            0
2            1
3            0
1            1
4            1

DataFrame con filas y columnas renombradas:

,Fecha,Competición,Rival,Lugar,Goles del Barça,Goles del Rival
Partido 1,2015-01-04,La Liga,Real Sociedad,Casa,1,0
Partido 2,2015-01-11,La Liga,Atlético de Madrid,Fuera,3,1
Partido 3,2015-03-22,La Liga,Real Madrid,Casa,2,1
Partido 4,2015-05-17,La Liga,Atlético de Madrid,Fuera,1,0
Partido 5,2015-06-06,Champions,Juventus,Neutral,3,1

### Diferencias entre `.loc` y `.iloc` en Pandas

`.loc` y `.iloc` sirven para seleccionar filas y columnas, pero funcionan de forma distinta:

1. **Tipo de acceso**  
   - `.loc` usa **etiquetas** (nombres) del índice y de las columnas.  
   - `.iloc` usa **posiciones numéricas** (0, 1, 2…) como en una lista.

2. **Cómo seleccionan filas**  
   - `.loc[2]` selecciona la fila cuyo **índice se llame 2**, no necesariamente la segunda.  
   - `.iloc[2]` selecciona siempre la **tercera fila**, porque usa la posición.

3. **Rangos (slicing)**  
   - `.loc[1:3]` incluye las filas **1, 2 y 3** (incluye el final).  
   - `.iloc[1:3]` incluye las filas **1 y 2** (NO incluye el final).

4. **Índices de texto o personalizados**  
   - `.loc["Partido1"]` funciona si el índice tiene nombres.  
   - `.iloc["Partido1"]` da **error**, porque solo acepta números.

5. **Selección de columnas**  
   - `.loc[:, "Rival"]` usa el **nombre** de la columna.  
   - `.iloc[:, 2]` usa la **posición** de la columna (columna 2).

6. **Filtrado booleano**  
   - Ambos aceptan booleanos (`df.loc[df["Goles"] > 2]` y `df.iloc[df["Goles"] > 2]`),  
     pero suele usarse `.loc` porque el filtrado está basado en etiquetas.

---

### Ejemplos comparativos

```python
# Misma selección, diferentes sistemas:
df.loc[0:2, "Rival"]   # Etiquetas → filas 0,1,2 y columna 'Rival'
df.iloc[0:3, 2]        # Posiciones → filas 0,1,2 y columna 2

In [ ]:
# Dataframe: indexación por columnas y filas
# Selección de columnas
print("\nSelección de columna 'Rival':")
print(df["Rival"].head())
print("\nSelección de múltiples columnas 'Rival' y 'Goles_Barca':")
print(df[["Rival", "Goles_Barca"]].head())
# Selección de filas por posición
# Usando loc (índices de filas y nombres de columnas)
print("\nAcceso filas por nombre de índice con loc (filas 1 a 3, columnas 'Rival' y 'Goles_Barca'):")
print(df.loc[1:3, ["Rival", "Goles_Barca"]])
print("\nAcceso a filas por posición:")
print(df.iloc[1:4, 2:4])

Selección de columna 'Rival':
0         Real Sociedad
1    Atlético de Madrid
2           Real Madrid
3    Atlético de Madrid
4              Juventus
Name: Rival, dtype: object

Selección de múltiples columnas 'Rival' y 'Goles_Barca':
                Rival  Goles_Barca
0       Real Sociedad            1
1  Atlético de Madrid            3
2         Real Madrid            2
3  Atlético de Madrid            1
4            Juventus            3

Acceso filas por nombre de índice con loc (filas 1 a 3, columnas 'Rival' y 'Goles_Barca'):
                Rival  Goles_Barca
1  Atlético de Madrid            3
2         Real Madrid            2
3  Atlético de Madrid            1

Acceso a filas por posición:
                Rival  Lugar
1  Atlético de Madrid  Fuera
2         Real Madrid   Casa
3  Atlético de Madrid  Fuera

Filas donde el Barça anotó más de 2 goles:
                Rival  Goles_Barca  Goles_Rival
1  Atlético de Madrid            3            1
4            Juventus            3            1

Filas donde el Barça anotó más de 2 goles y el rival más de 1:
Empty DataFrame
Columns: [Fecha, Competición, Rival, Lugar, Goles_Barca, Goles_Rival]
Index: []

In [48]:
# Indexación booleana
print("\nFilas donde el Barça anotó más de 2 goles:")
print(df[df["Goles_Barca"] > 2][["Rival", "Goles_Barca", "Goles_Rival"]])
print("\nFilas donde el Barça anotó más de 2 goles y el rival más de 1:")
print(df[(df["Goles_Barca"] > 2) & (df["Goles_Rival"] == 1)][["Competición", "Rival", "Goles_Barca", "Goles_Rival"]])

Filas donde el Barça anotó más de 2 goles:
                Rival  Goles_Barca  Goles_Rival
1  Atlético de Madrid            3            1
4            Juventus            3            1

Filas donde el Barça anotó más de 2 goles y el rival más de 1:
  Competición               Rival  Goles_Barca  Goles_Rival
1     La Liga  Atlético de Madrid            3            1
4   Champions            Juventus            3            1

In [62]:
# Resumen descriptivo
# Similar a series, mostrando información de cada columna
# ● df.count() : Devuelve una serie con el número de elementos que no son nulos ni NaN en cada columna del DataFrame df.
print("Devuelve una serie con el número de elementos que no son nulos por columna:")
print(df.count())
# ● df.sum() : Devuelve una serie con la suma de los datos de las columnas del DataFrame df cuando los datos son de un tipo numérico, o la
# concatenación de ellos cuando son del tipo cadena str.
print("\nDevuelve una serie con la suma de los datos de las columnas numéricas:")
print(df.sum())
# ● df.cumsum() : Devuelve un DataFrame con la suma acumulada de los datos de las columnas del DataFrame df cuando los datos son de un tipo
# numérico.
print("\nDevuelve un DataFrame con la suma acumulada de las columnas numéricas:")
print(df.cumsum())
# ● df.min() : Devuelve una serie con los menores de los datos de las columnas del DataFrame df.
print("\nDevuelve una serie con los menores de los datos de las columnas:")
print(df.min())
# ● df.max() : Devuelve una serie con los mayores de los datos de las columnas del DataFrame df.
print("\nDevuelve una serie con los mayores de los datos de las columnas:")
print(df.max())
# ● df.mean() : Devuelve una serie con las medias de los datos de las columnas numéricas del DataFrame df.
print("\nDevuelve una serie con las medias de las columnas numéricas:")
print(df["Goles_Barca"].mean())
# ● df.var() : Devuelve una serie con las varianzas de los datos de las columnas numéricas del DataFrame df.
print("\nDevuelve una serie con las varianzas de las columnas numéricas:")
print(df["Goles_Barca"].var())
# ● df.std() : Devuelve una serie con las desviaciones típicas de los datos de las columnas numéricas del DataFrame df.
print("\nDevuelve una serie con las desviaciones típicas de las columnas numéricas:")
print(df["Goles_Barca"].std())
# ● df.cov() : Devuelve un DataFrame con las covarianzas de los datos de las columnas numéricas del DataFrame df.
# print("\nDevuelve un DataFrame con las covarianzas de las columnas numéricas:")
# print(df["Goles_Barca"].cov())
# ● df.corr() : Devuelve un DataFrame con los coeficientes de correlación de los pares de datos de las columnas numéricas del DataFrame df.
# print("\nDevuelve un DataFrame con los coeficientes de correlación de las columnas numéricas:")
# print(df.corr())
# ● df.describe(include = tipo) : Devuelve un DataFrame con un resumen estadístico de las columnas del DataFrame df del tipo tipo. Para
# los datos numéricos (number) se calcula la media, la desviación típica, el mínimo, el máximo y los cuartiles. Para los datos no numéricos (object)
# se calcula el número de valores, el número de valores distintos, la moda y su frecuencia. Si no se indica el tipo solo se consideran las columnas
# numéricas.
print("\nDevuelve un DataFrame con un resumen estadístico de las columnas numéricas:")
print(df.describe())
print("\nDevuelve un DataFrame con un resumen estadístico de las columnas de tipo object:")
print(df.describe(include=['object']))

Devuelve una serie con el número de elementos que no son nulos por columna:
Fecha          5
Competición    5
Rival          5
Lugar          5
Goles_Barca    5
Goles_Rival    5
dtype: int64

Devuelve una serie con la suma de los datos de las columnas numéricas:
Fecha          2015-01-042015-01-112015-03-222015-05-172015-0...
Competición                La LigaLa LigaLa LigaLa LigaChampions
Rival          Real SociedadAtlético de MadridReal MadridAtlé...
Lugar                                  CasaFueraCasaFueraNeutral
Goles_Barca                                                   10
Goles_Rival                                                    3
dtype: object

Devuelve un DataFrame con la suma acumulada de las columnas numéricas:
                                                Fecha  \
P1                                         2015-01-04
P2                               2015-01-042015-01-11
P3                     2015-01-042015-01-112015-03-22
P4           2015-01-042015-01-112015-03-222015-05-17
P5  2015-01-042015-01-112015-03-222015-05-172015-0...

                              Competición  \
P1                                La Liga
P2                         La LigaLa Liga
P3                  La LigaLa LigaLa Liga
P4           La LigaLa LigaLa LigaLa Liga
P5  La LigaLa LigaLa LigaLa LigaChampions

                                                Rival  \
P1                                      Real Sociedad
P2                    Real SociedadAtlético de Madrid
P3         Real SociedadAtlético de MadridReal Madrid
P4  Real SociedadAtlético de MadridReal MadridAtlé...
P5  Real SociedadAtlético de MadridReal MadridAtlé...

                        Lugar  Goles_Barca  Goles_Rival
P1                       Casa            1            0
P2                  CasaFuera            4            1
P3              CasaFueraCasa            6            2
P4         CasaFueraCasaFuera            7            2
P5  CasaFueraCasaFueraNeutral           10            3

Devuelve una serie con los menores de los datos de las columnas:
Fecha                  2015-01-04
Competición             Champions
Rival          Atlético de Madrid
Lugar                        Casa
Goles_Barca                     1
Goles_Rival                     0
dtype: object

Devuelve una serie con los mayores de los datos de las columnas:
Fecha             2015-06-06
Competición          La Liga
Rival          Real Sociedad
Lugar                Neutral
Goles_Barca                3
Goles_Rival                1
dtype: object

Devuelve una serie con las medias de las columnas numéricas:
2.0

Devuelve una serie con las varianzas de las columnas numéricas:
1.0

Devuelve una serie con las desviaciones típicas de las columnas numéricas:
1.0

Devuelve un DataFrame con un resumen estadístico de las columnas numéricas:
       Goles_Barca  Goles_Rival
count          5.0     5.000000
mean           2.0     0.600000
std            1.0     0.547723
min            1.0     0.000000
25%            1.0     0.000000
50%            2.0     1.000000
75%            3.0     1.000000
max            3.0     1.000000

Devuelve un DataFrame con un resumen estadístico de las columnas de tipo object:
             Fecha Competición               Rival Lugar
count            5           5                   5     5
unique           5           2                   4     3
top     2015-01-04     La Liga  Atlético de Madrid  Casa
freq             1           4                   2     2

In [71]:
# Eliminar Columnas o Filas
# Eliminar columna
df_sin_columna = df.drop(columns=["Lugar"])
print("\nDataFrame sin la columna 'Lugar:")
print(df_sin_columna.head())
# del d[nombre]
df_deleted_column = df.copy()
del df_deleted_column["Lugar"]
print("\nDataFrame sin la columna 'Lugar' usando del:")
print(df_deleted_column.head())
# df.pop(nombre)
df_popped_column = df.copy()
print("\nColumna 'Lugar' eliminada usando pop:")
print(df_popped_column.pop("Lugar").head())
print(df_popped_column.head())

DataFrame sin la columna 'Lugar:
         Fecha Competición               Rival  Goles_Barca  Goles_Rival
P1  2015-01-04     La Liga       Real Sociedad            1            0
P2  2015-01-11     La Liga  Atlético de Madrid            3            1
P3  2015-03-22     La Liga         Real Madrid            2            1
P4  2015-05-17     La Liga  Atlético de Madrid            1            0
P5  2015-06-06   Champions            Juventus            3            1

DataFrame sin la columna 'Lugar' usando del:
         Fecha Competición               Rival  Goles_Barca  Goles_Rival
P1  2015-01-04     La Liga       Real Sociedad            1            0
P2  2015-01-11     La Liga  Atlético de Madrid            3            1
P3  2015-03-22     La Liga         Real Madrid            2            1
P4  2015-05-17     La Liga  Atlético de Madrid            1            0
P5  2015-06-06   Champions            Juventus            3            1

Columna 'Lugar' eliminada usando pop:
P1       Casa
P2      Fuera
P3       Casa
P4      Fuera
P5    Neutral
Name: Lugar, dtype: object
         Fecha Competición               Rival  Goles_Barca  Goles_Rival
P1  2015-01-04     La Liga       Real Sociedad            1            0
P2  2015-01-11     La Liga  Atlético de Madrid            3            1
P3  2015-03-22     La Liga         Real Madrid            2            1
P4  2015-05-17     La Liga  Atlético de Madrid            1            0
P5  2015-06-06   Champions            Juventus            3            1

In [74]:
# Métodos aritméticos y evitar valores NaN
# Los métodos son: add, sub, div, floordiv (división entera), mul, pow (potencia). 
# Estos métodos permiten especificar un valor fill_value para reemplazar los valores NaN antes de realizar la operación.
# Por ejemplo, si tenemos dos DataFrames df1 y df2 y queremos sumarlos, pero df2 tiene algunos valores NaN, podemos usar fill_value para tratarlos:
df1 = pd.DataFrame({"A": [1, 2, np.nan], "B": [4, np.nan, 6]})
df2 = pd.DataFrame({"A": [np.nan, 2, 3], "B": [4, 5, np.nan]})
df_sum = df1.add(df2, fill_value=0)
print("\nSuma de df1 y df2 con fill_value=0 para NaN:")
print(df_sum)
df_sub = df1.sub(df2, fill_value=0)
print("\nResta de df1 y df2 con fill_value=0 para NaN:")
print(df_sub)
df_mul = df1.mul(df2, fill_value=1)
print("\nMultiplicación de df1 y df2 con fill_value=1 para NaN:")
print(df_mul)
df_div = df1.div(df2, fill_value=1)
print("\nDivisión de df1 y df2 con fill_value=1 para NaN:")
print(df_div)
df_pow = df1.pow(df2, fill_value=1)
print("\nPotencia de df1 y df2 con fill_value=1 para NaN:")
print(df_pow)
df_floordiv = df1.floordiv(df2, fill_value=1)
print("\nDivisión entera de df1 y df2 con fill_value=1 para NaN:")
print(df_floordiv)

Suma de df1 y df2 con fill_value=0 para NaN:
     A    B
0  1.0  8.0
1  4.0  5.0
2  3.0  6.0

Resta de df1 y df2 con fill_value=0 para NaN:
     A    B
0  1.0  0.0
1  0.0 -5.0
2 -3.0  6.0

Multiplicación de df1 y df2 con fill_value=1 para NaN:
     A     B
0  1.0  16.0
1  4.0   5.0
2  3.0   6.0

División de df1 y df2 con fill_value=1 para NaN:
          A    B
0  1.000000  1.0
1  1.000000  0.2
2  0.333333  6.0

Potencia de df1 y df2 con fill_value=1 para NaN:
     A      B
0  1.0  256.0
1  4.0    1.0
2  1.0    6.0

División entera de df1 y df2 con fill_value=1 para NaN:
     A    B
0  1.0  1.0
1  1.0  0.0
2  0.0  6.0

In [76]:
# Apply
# Aplicar una función a lo largo de un eje del DataFrame (filas o columnas)
# Por ejemplo, podemos aplicar una función que calcule el doble de cada valor en una columna
def doble(x):
    return x * 2
df_doble_goles = df["Goles_Barca"].apply(doble)
print("\nColumna 'Goles_Barca' con valores doblados usando apply:")
print(df_doble_goles)

Columna 'Goles_Barca' con valores doblados usando apply:
P1    2
P2    6
P3    4
P4    2
P5    6
Name: Goles_Barca, dtype: int64

In [81]:
# # Multi index
# DataFrame.set_index() nos permitía indicar una columna para que fuese la etiqueta de las filas, “setear
# un índice”.
# Pero es posible indicar más de una columna, obteniendo índices de varios niveles. Si seleccionamos una
# columna que no es única en sus valores debemos tenerlo en cuenta, ya que tendremos un índice no
# único como filas. Lo normal es ordenar el DataFrame por el índice.
df_multi_index = df.set_index(["Competición", "Rival"])
df_multi_index = df_multi_index.sort_index()
print("\nDataFrame con multi-índice (Competición, Rival) ordenado:")
print(df_multi_index.head())
df_multi = df.set_index(["Competición", "Lugar"]).sort_index()
print("\nDataFrame con multi-índice (Competición, Lugar) ordenado:")
df_multi.head()

DataFrame con multi-índice (Competición, Rival) ordenado:
                                     Fecha    Lugar  Goles_Barca  Goles_Rival
Competición Rival
Champions   Juventus            2015-06-06  Neutral            3            1
La Liga     Atlético de Madrid  2015-01-11    Fuera            3            1
            Atlético de Madrid  2015-05-17    Fuera            1            0
            Real Madrid         2015-03-22     Casa            2            1
            Real Sociedad       2015-01-04     Casa            1            0

DataFrame con multi-índice (Competición, Lugar) ordenado:

                          Fecha               Rival  Goles_Barca  Goles_Rival
Competición Lugar
Champions   Neutral  2015-06-06            Juventus            3            1
La Liga     Casa     2015-01-04       Real Sociedad            1            0
            Casa     2015-03-22         Real Madrid            2            1
            Fuera    2015-01-11  Atlético de Madrid            3            1
            Fuera    2015-05-17  Atlético de Madrid            1            0