# Pandas (Dataframe)

In [2]:
import pandas as pd
# DataFrame
df = pd.read_csv('barca_2015_partidos.csv')
print("Partidos del Barça en 2015:")
df.head()

Partidos del Barça en 2015:

,Fecha,Competición,Rival,Lugar,Goles_Barca,Goles_Rival
0,2015-01-04,La Liga,Real Sociedad,Casa,1,0
1,2015-01-11,La Liga,Atlético de Madrid,Fuera,3,1
2,2015-03-22,La Liga,Real Madrid,Casa,2,1
3,2015-05-17,La Liga,Atlético de Madrid,Fuera,1,0
4,2015-06-06,Champions,Juventus,Neutral,3,1

In [ ]:
# DataFrame con diccionario (data = diccionario, index = filas, colums = columnas), menos el diccionario el resto de parámetros son opcionales
# Con una lista de listas
df_ejemplo = pd.DataFrame([["Leo Messi", 34, "Delantero"], ["Andrés Iniesta", 36, "Centrocampista"], ["Neymar Jr", 28, "Delantero"]], columns=["Nombre", "Edad", "Posición"])
print("\nEjemplo de DataFrame con lista de listas:")
df_ejemplo.head()
# Con diccionario
df_ejemplo2 = pd.DataFrame({"Nombre": ["Sergio Busquets", "Gerard Piqué", "Jordi Alba"], "Edad": [32, 33, 31], "Posición": ["Centrocampista", "Defensa", "Defensa"]})
print("\nEjemplo de DataFrame con diccionario:")
df_ejemplo2.head()

Ejemplo de DataFrame con lista de listas:

Ejemplo de DataFrame con diccionario:

            Nombre  Edad        Posición
0  Sergio Busquets    32  Centrocampista
1     Gerard Piqué    33         Defensa
2       Jordi Alba    31         Defensa

In [ ]:
# Atributos
print("Dimensiones (filas, columnas):", df.shape)
print("\nNúmero de elementos de DataFrame:", df.size)
print("\nNombres de las columnas:", df.columns)
print("\nDevuelve un objeto Index que representa las etiquetas de las filas", df.index)
# Si se quiere una lista, se puede usar list(df.index).
print("\nDevuelve una serie con el tipo de dato de cada columna:")
print(df.dtypes)
print("\nDevuelve un ndarray con los datos del DataFrame(se recomienda usar df.to_numpy()):")
print(df.values)

Dimensiones (filas, columnas): (5, 6)

Número de elementos de DataFrame: 30

Nombres de las columnas: Index(['Fecha', 'Competición', 'Rival', 'Lugar', 'Goles_Barca', 'Goles_Rival'], dtype='object')

Devuelve un objeto Index que representa las etiquetas de las filas RangeIndex(start=0, stop=5, step=1)
[0, 1, 2, 3, 4]

Devuelve una serie con el tipo de dato de cada columna:
Fecha          object
Competición    object
Rival          object
Lugar          object
Goles_Barca     int64
Goles_Rival     int64
dtype: object

Devuelve un ndarray con los datos del DataFrame(se recomienda usar df.to_numpy()):
[['2015-01-04' 'La Liga' 'Real Sociedad' 'Casa' 1 0]
 ['2015-01-11' 'La Liga' 'Atlético de Madrid' 'Fuera' 3 1]
 ['2015-03-22' 'La Liga' 'Real Madrid' 'Casa' 2 1]
 ['2015-05-17' 'La Liga' 'Atlético de Madrid' 'Fuera' 1 0]
 ['2015-06-06' 'Champions' 'Juventus' 'Neutral' 3 1]]

In [24]:
# Ejemplo: Convertir DataFrame a numpy array
import numpy as np

array = df.to_numpy()
print("DataFrame convertido a NumPy array:")
print(array)

# Ejemplo 2: Obtener una columna en formato NumPy
goles = df["Goles_Barca"].to_numpy()
print("\nColumna 'Goles_Barca' en formato NumPy:")
print(goles)

# Ejemplo 3: Operaciones NumPy sobre DataFrame
goles = df["Goles_Barca"].to_numpy()

print("\nMedia (usando NumPy):", np.mean(goles))
print("Desviación típica:", np.std(goles))
print("Máximo:", np.max(goles))
print("Mínimo:", np.min(goles))

DataFrame convertido a NumPy array:
[['2015-01-04' 'La Liga' 'Real Sociedad' 'Casa' 1 0]
 ['2015-01-11' 'La Liga' 'Atlético de Madrid' 'Fuera' 3 1]
 ['2015-03-22' 'La Liga' 'Real Madrid' 'Casa' 2 1]
 ['2015-05-17' 'La Liga' 'Atlético de Madrid' 'Fuera' 1 0]
 ['2015-06-06' 'Champions' 'Juventus' 'Neutral' 3 1]]

Columna 'Goles_Barca' en formato NumPy:
[1 3 2 1 3]

Media (usando NumPy): 2.0
Desviación típica: 0.8944271909999159
Máximo: 3
Mínimo: 1

In [17]:
#Funciones básicas
print("Devuelve información resumida del DataFrame:")
print(df.info())
print("\nDevuelve las n primeras filas del DataFrame:")
print(df.head(3))
print("\nDevuelve las n últimas filas del DataFrame:")
df.tail(3)

Devuelve información resumida del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Fecha        5 non-null      object
 1   Competición  5 non-null      object
 2   Rival        5 non-null      object
 3   Lugar        5 non-null      object
 4   Goles_Barca  5 non-null      int64
 5   Goles_Rival  5 non-null      int64
dtypes: int64(2), object(4)
memory usage: 372.0+ bytes
None

Devuelve las n primeras filas del DataFrame:
        Fecha Competición               Rival  Lugar  Goles_Barca  Goles_Rival
0  2015-01-04     La Liga       Real Sociedad   Casa            1            0
1  2015-01-11     La Liga  Atlético de Madrid  Fuera            3            1
2  2015-03-22     La Liga         Real Madrid   Casa            2            1

Devuelve las n últimas filas del DataFrame:

,Fecha,Competición,Rival,Lugar,Goles_Barca,Goles_Rival
2,2015-03-22,La Liga,Real Madrid,Casa,2,1
3,2015-05-17,La Liga,Atlético de Madrid,Fuera,1,0
4,2015-06-06,Champions,Juventus,Neutral,3,1

In [33]:
# Configurar índices de filas y nombres de columnas
# Seleccionar datos de 1 columna como índice:
df_indexado = df.set_index("Rival")
print("\nDataFrame con 'Rival' como índice de filas:")
print(df_indexado.head())
# Reodernar filas o columnas o introducir nuevas o filtrar:
df_reordenado = df.reindex(columns=["Fecha", "Rival", "Goles_Barca", "Goles_Rival", "Local/Visitante"])
print("\nDataFrame con columnas reordenadas:")
print(df_reordenado.head())
# Filtrar filas por índice:
df_filtrado = df.reindex(index=[0, 2, 3, 1, 4])
print("\nDataFrame filtrado por índices de fila:")
print(df_filtrado.head())
# Renombrar filas y columnas:
df_renombrado = df.rename(columns={"Goles_Barca": "Goles del Barça", "Goles_Rival": "Goles del Rival"}, index={0: "Partido 1", 1: "Partido 2", 2: "Partido 3", 3: "Partido 4", 4: "Partido 5" })
print("\nDataFrame con filas y columnas renombradas:")
df_renombrado.head()

DataFrame con 'Rival' como índice de filas:
                         Fecha Competición    Lugar  Goles_Barca  Goles_Rival
Rival
Real Sociedad       2015-01-04     La Liga     Casa            1            0
Atlético de Madrid  2015-01-11     La Liga    Fuera            3            1
Real Madrid         2015-03-22     La Liga     Casa            2            1
Atlético de Madrid  2015-05-17     La Liga    Fuera            1            0
Juventus            2015-06-06   Champions  Neutral            3            1

DataFrame con columnas reordenadas:
        Fecha               Rival  Goles_Barca  Goles_Rival  Local/Visitante
0  2015-01-04       Real Sociedad            1            0              NaN
1  2015-01-11  Atlético de Madrid            3            1              NaN
2  2015-03-22         Real Madrid            2            1              NaN
3  2015-05-17  Atlético de Madrid            1            0              NaN
4  2015-06-06            Juventus            3            1              NaN

DataFrame filtrado por índices de fila:
        Fecha Competición               Rival    Lugar  Goles_Barca  \
0  2015-01-04     La Liga       Real Sociedad     Casa            1
2  2015-03-22     La Liga         Real Madrid     Casa            2
3  2015-05-17     La Liga  Atlético de Madrid    Fuera            1
1  2015-01-11     La Liga  Atlético de Madrid    Fuera            3
4  2015-06-06   Champions            Juventus  Neutral            3

   Goles_Rival
0            0
2            1
3            0
1            1
4            1

DataFrame con filas y columnas renombradas:

,Fecha,Competición,Rival,Lugar,Goles del Barça,Goles del Rival
Partido 1,2015-01-04,La Liga,Real Sociedad,Casa,1,0
Partido 2,2015-01-11,La Liga,Atlético de Madrid,Fuera,3,1
Partido 3,2015-03-22,La Liga,Real Madrid,Casa,2,1
Partido 4,2015-05-17,La Liga,Atlético de Madrid,Fuera,1,0
Partido 5,2015-06-06,Champions,Juventus,Neutral,3,1

### Diferencias entre `.loc` y `.iloc` en Pandas

`.loc` y `.iloc` sirven para seleccionar filas y columnas, pero funcionan de forma distinta:

1. **Tipo de acceso**  
   - `.loc` usa **etiquetas** (nombres) del índice y de las columnas.  
   - `.iloc` usa **posiciones numéricas** (0, 1, 2…) como en una lista.

2. **Cómo seleccionan filas**  
   - `.loc[2]` selecciona la fila cuyo **índice se llame 2**, no necesariamente la segunda.  
   - `.iloc[2]` selecciona siempre la **tercera fila**, porque usa la posición.

3. **Rangos (slicing)**  
   - `.loc[1:3]` incluye las filas **1, 2 y 3** (incluye el final).  
   - `.iloc[1:3]` incluye las filas **1 y 2** (NO incluye el final).

4. **Índices de texto o personalizados**  
   - `.loc["Partido1"]` funciona si el índice tiene nombres.  
   - `.iloc["Partido1"]` da **error**, porque solo acepta números.

5. **Selección de columnas**  
   - `.loc[:, "Rival"]` usa el **nombre** de la columna.  
   - `.iloc[:, 2]` usa la **posición** de la columna (columna 2).

6. **Filtrado booleano**  
   - Ambos aceptan booleanos (`df.loc[df["Goles"] > 2]` y `df.iloc[df["Goles"] > 2]`),  
     pero suele usarse `.loc` porque el filtrado está basado en etiquetas.

---

### Ejemplos comparativos

```python
# Misma selección, diferentes sistemas:
df.loc[0:2, "Rival"]   # Etiquetas → filas 0,1,2 y columna 'Rival'
df.iloc[0:3, 2]        # Posiciones → filas 0,1,2 y columna 2

In [37]:
# Dataframe: indexación por columnas y filas
# Selección de columnas
print("\nSelección de columna 'Rival':")
print(df["Rival"].head())
print("\nSelección de múltiples columnas 'Rival' y 'Goles_Barca':")
print(df[["Rival", "Goles_Barca"]].head())
# Selección de filas por posición
# Usando loc (índices de filas y nombres de columnas)
print("\nAcceso filas por nombre de índice con loc (filas 1 a 3, columnas 'Rival' y 'Goles_Barca'):")
print(df.loc[1:3, ["Rival", "Goles_Barca"]])
print("\nAcceso a filas por posición:")
print(df.iloc[1:4, 2:4])

Selección de columna 'Rival':
0         Real Sociedad
1    Atlético de Madrid
2           Real Madrid
3    Atlético de Madrid
4              Juventus
Name: Rival, dtype: object

Selección de múltiples columnas 'Rival' y 'Goles_Barca':
                Rival  Goles_Barca
0       Real Sociedad            1
1  Atlético de Madrid            3
2         Real Madrid            2
3  Atlético de Madrid            1
4            Juventus            3

Acceso filas por nombre de índice con loc (filas 1 a 3, columnas 'Rival' y 'Goles_Barca'):
                Rival  Goles_Barca
1  Atlético de Madrid            3
2         Real Madrid            2
3  Atlético de Madrid            1

Acceso a filas por posición:
                Rival  Lugar
1  Atlético de Madrid  Fuera
2         Real Madrid   Casa
3  Atlético de Madrid  Fuera