# Importacion de datos desde CSV

read_csv(fichero, sep=separador, header=n, index_col=m, na_values=no-validos, decimal=separador-decimal)

- sep: carácter separador del csv. (Por defecto ',')
- header: Fila del fichero que contiene nombre de las columnas para el DataFrame (Por defecto es 0)
- index_col: Columna del fichero que servirá para los nombres de las filas para DataFrame. Si no se indica será
de 0 a N-1
- na_values: Lista con valores que serán convertidos a NaN en el DataFrame
- decimal: separador de parte decimal en números reales. (Por defecto es '.')

In [88]:
# Importa el fichero house.csv

# Atributos del DataFrame

- df.shape : Devuelve una tupla con el número de filas y columnas del DataFrame df.
- df.size : Devuelve el número de elementos del DataFrame.
- df.columns : Devuelve una objeto índice con los nombres de las columnas del DataFrame df.
- df.index : Devuelve un objeto índice con los nombres de las filas del DataFrame df.
- df.dtypes : Devuelve una con los tipos de datos de las columnas del DataFrame df.
- df.values : Devuelve un ndarray con los datos del DataFrame 

Funciones:
- df.info() : Devuelve información (número de filas, número de columnas, índices, tipo de las columnas y memoria usado) del df.
- df.head(n) : Devuelve las n primeras filas del DataFrame df.
- df.tail(n) : Devuelve las n últimas filas del DataFrame df
- df.to_nympy: Crea una matriz con los valores del dataFrame. Se infiere el tipo automáicamente.

In [11]:
# Muestra, solamente, el número de filas del dataFrame (una tupla se puede indexar como una lista)

# Muestra el número de columnas del dataFrame

# Multiplica (filas x columnas) y comprueba si es igual al atributo size, imprimiento true/false

filas: 4600
Columnas 18
Comprobar: True

In [12]:
# Muestra la información completa con info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   price          4600 non-null   float64
 2   bedrooms       4600 non-null   float64
 3   bathrooms      4600 non-null   float64
 4   sqft_living    4600 non-null   int64
 5   sqft_lot       4600 non-null   int64
 6   floors         4600 non-null   float64
 7   waterfront     4600 non-null   int64
 8   view           4600 non-null   int64
 9   condition      4600 non-null   int64
 10  sqft_above     4600 non-null   int64
 11  sqft_basement  4600 non-null   int64
 12  yr_built       4600 non-null   int64
 13  yr_renovated   4600 non-null   int64
 14  street         4600 non-null   object
 15  city           4600 non-null   object
 16  statezip       4600 non-null   object
 17  country        4600 non-null   object
dtypes: float64(4), int64(9), object(5)
memory usage: 647.0+ KB

In [89]:
# Muestra las primeras 8 líneas

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA
5,2014-05-02 00:00:00,490000.0,2.0,1.00,880,6380,1.0,0,0,3,880,0,1938,1994,522 NE 88th St,Seattle,WA 98115,USA
6,2014-05-02 00:00:00,335000.0,2.0,2.00,1350,2560,1.0,0,0,3,1350,0,1976,0,2616 174th Ave NE,Redmond,WA 98052,USA
7,2014-05-02 00:00:00,482000.0,4.0,2.50,2710,35868,2.0,0,0,3,2710,0,1989,0,23762 SE 253rd Pl,Maple Valley,WA 98038,USA

# Objeto index

Cada dataFrame tiene 2 objetos índices que almacenan el índice de columnas (nombres de las columnas) y los índices de las filas.

Los índices son inmutables (no se puede modificar el valor de una posición en concreto, como en las tuplas). Y también funcionan como conjuntos, soportando las típicas operaciones de intersección, unión y diferencia, aunque en los índices se permiten valores duplicados.   

Métodos:
- index.append(ad_index) 	Concatena 'ad_index' a 'index' y retorna un nuevo índice 
- index.difference(index, sort=None) 	Diferencia de conjuntos
- index.intersection(index, sort=False) 	Intersección de conjuntos
- index.union(index, sort=None) 	Unión de conjuntos
- index.isin(colección) Retorna un array booleano indicando si cada valor está contenido en la colección pasada como parámetro. 
- delete() 	Compute new Index with element at Index i deleted
- drop() 	Compute new Index by deleting passed values
- insert() 	Compute new Index by inserting element at Index i
- is_monotonic 	Returns True if each element is greater than or equal to the previous element
- is_unique: Propiedad. Almacena True si el índice no tiene valores duplicados.
- unique() 	Compute the array of unique values in the Index

Además soporta el operador 'is' para comprobar la pertenencia al conjunto de 1 elemento en concreto.

In [2]:
# Muestra el índice de filas

RangeIndex(start=0, stop=4600, step=1)

In [3]:
# Muestra el índice de columnas, guardándolo en la variable 'columnas'

Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'street', 'city',
       'statezip', 'country'],
      dtype='object')

In [16]:
# Comprueba si 'city' esta en columnas

True

In [17]:
# Comprueba que la variable columnas es realmente el mismo objeto que está dentro del DataFrame (operador is)

True

In [27]:
# Podemos crear un objeto índice y utilizarlo para crear un DataFrame o serie
alternative_cols = pd.Index(['price', 'bathrooms', 'city', 'windows'])

# Calcula y muestra la diferencia, intersección, unión de columnas con alternative_cols manteniento orden original

Diferencia: Index(['date', 'bedrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront',
       'view', 'condition', 'sqft_above', 'sqft_basement', 'yr_built',
       'yr_renovated', 'street', 'statezip', 'country'],
      dtype='object')

Unión: Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'street', 'city',
       'statezip', 'country', 'windows'],
      dtype='object')

Intersección: Index(['price', 'bathrooms', 'city'], dtype='object')

In [31]:
# Comprueba si alternative_cols está dentro de columnas

[ True  True  True False]

In [36]:
# Concatena alternative_cols a columnas, guarndando el nuevo índice en 'nuevo'

Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'street', 'city',
       'statezip', 'country', 'price', 'bathrooms', 'city', 'windows'],
      dtype='object')

In [39]:
# Comprueba si hay valores duplicados en el índice "nuevo" 
# y si es así, genera un índice sin valores duplicados guardando el resultado en 'nuevo'

Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'street', 'city',
       'statezip', 'country', 'windows'],
      dtype='object')

# Reindex

El dataFrame tiene un método "reindex", que crea un nuevo objeto con los valores organizados según el nuevo índice. Así podemos reordenar columnas, añadir o quitar. 

Si añadimos una columna que no existe en el DataFrame original por defecto la rellenará con valores nan.

df.reindex(index=filas, columns=columnas, fill_value=relleno, copy=None) : Devuelve el DataFrame que resulta de tomar del
DataFrame las filas con nombres en la lista filas y las columnas con nombres en la lista columnas. Si alguno de los nombres
indicados en filas o columnas no existía en el DataFrame df, se crean filas o columnas nuevas rellenas con el valor relleno.

Si indicamos copy=True devolverá una copia de los datos en vez e reindexar el mismo DataFrame.

In [42]:
# Reindexa el dataFrame generando una copia diferente con las columnas ['price', 'bedrooms', 'bathrooms', 'cargas']
# El valor cargas que se rellene a 0

# Muestra las 5 primeras filas

       price  bedrooms  bathrooms  cargas
0   313000.0       3.0       1.50       0
1  2384000.0       5.0       2.50       0
2   342000.0       3.0       2.00       0
3   420000.0       3.0       2.25       0
4   550000.0       4.0       2.50       0

# Borrar un elemento del índice según el eje

Con reindex o con método loc ya podemos borrar una columna o varias filas reindexando las que queremos. Pero quizás para un borrado puntual es más sencillo usar drop.

DataFrame.drop(index=None, columns=None, inplace=False, errors='raise')

Si metemos una etiqueta a borrar que no existe, lanzará una excepción, a menos que pasemos por parámetro errors='ignore', lo cual ignorará el error y no lanzará una excepción.

In [47]:
# Elimina de copia_df la columna cargas y bathrooms guardando el resultado en un nuevo dataframe

       price  bedrooms
0   313000.0       3.0
1  2384000.0       5.0
2   342000.0       3.0
3   420000.0       3.0
4   550000.0       4.0

# Objeto series

Los objetos series pueden ser interesantes por si mismos, como en una serie temporal, donde los datos están indexados (o etiquetados) por una marca de tiempo.

Un dataFrame puede verse como un conjunto de objetos Series. Cada columna es una Serie y entre todas comparten el mismo índice de fila.

In [53]:
# Una dataFrame se puede indexar por columna como un array o lista pero indicando el nombre de la columna
# Columna precio es una Serie de pandas
precio = nuevo_copia['price']
isinstance(precio, pd.Series)

True

# Indexación, selección y filtro

Tanto en series como en dataFrames se pueden indexar por posición o por etiquetas.

Si no se han especificado etiquetas a las filas, las etiquetas de las filas corresponden al número de fila empezando en 0. 

La forma más correcta es usar los operadores loc[] e iloc[]. 

La indexación directa [] en una serie tratará los enteros como etiquetas si el índice contiene enteros, así que el comportamiento va a depender del tipo de datos de index.

Por ejemplo, mostramos en la siguiente celdas de código:

In [54]:
# 2 series con los mismos datos y tamaño, una con etiquetas del índice tipo entero, otra tipo caracter. 
serie1 = pd.Series([1, 2, 3], index=[2, 0, 1])
serie2 = pd.Series([1, 2, 3], index=["a", "b", "c"])

In [55]:
# Serie1 con etiquetas del index siendo enteros
serie1

2    1
0    2
1    3
dtype: int64

In [56]:
# Serie2 con etiquetas del index siendo caracteres
serie2

a    1
b    2
c    3
dtype: int64

In [58]:
# Indexación de serie2 por posición, puesto que las etiquetas son letras, no hay confusión. 
serie2[[0, 1, 2]]

a    1
b    2
c    3
dtype: int64

In [57]:
# ¿Indexación por posición? NO, indexa por etiqueta, puesto que son enteros. 
serie1[[0, 1, 2]]

0    2
1    3
2    1
dtype: int64

# Indexación directa del dataframe -> df[ ]
### Indexación de 1 o varias columnas, todas las filas

Para filtrar o indexar una o varias columnas, lo hacemos pasando las etiquetas de las columnas

In [78]:
# Generar una vista del dataframe con columnas precio y bathrooms

# Muestra las 5 primeras líneas de lo generado

       price  bathrooms
0   313000.0       1.50
1  2384000.0       2.50
2   342000.0       2.00
3   420000.0       2.25
4   550000.0       2.50

### Slicing por filas, con todas las columnas

Si en vez de pasar etiquetas al dataframe con indexación directa, pasamos un slice, genera el slice por filas.

In [81]:
# Filas de la 0 a la 3
df[0:4]

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA

## Operadores loc e iloc
### Indexación por posición  iloc[ ]

dataframe.iloc[filas]

dataframe.iloc[filas, columnas]

En filas y columnas se puede poner una lista de índices. También se pueden usar rangos usando ':'

In [99]:
# Del dataframe original, indexa Filas de 2 a 4, todas las columnas

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

In [74]:
# Del dataframe original, indexa por posición las filas de la 0 a la 10 (incluyendo la 10), columnas 1, 2, 3, 5

        price  bedrooms  bathrooms  sqft_lot
0    313000.0       3.0       1.50      7912
1   2384000.0       5.0       2.50      9050
2    342000.0       3.0       2.00     11947
3    420000.0       3.0       2.25      8030
4    550000.0       4.0       2.50     10500
5    490000.0       2.0       1.00      6380
6    335000.0       2.0       2.00      2560
7    482000.0       4.0       2.50     35868
8    452500.0       3.0       2.50     88426
9    640000.0       4.0       2.00      6200
10   463000.0       3.0       1.75      7320

### Indexación por etiquetas  loc[ ]

dataframe.loc[filas]

dataframe.loc[filas, columnas]

En las etiquetas también podemos indexar utilizando una slice o porción. 

series.loc['a':'g'] Va a indexar las filas comenzando en la etiqueta 'a' hasta la 'g' incluyendo esta última.

In [69]:
# Del dataframe original, muestra el precio y número de baños de las filas 10, 524, 324

         price  bathrooms
10    463000.0       1.75
524  1300000.0       3.25
324   262000.0       2.50

In [75]:
# Del dataframe original, muestra el precio y número de baños de las filas de la 5 a la 10 (incluyendo la 10)

       price  bathrooms
5   490000.0       1.00
6   335000.0       2.00
7   482000.0       2.50
8   452500.0       2.50
9   640000.0       2.00
10  463000.0       1.75

# Indexación booleana

Funciona similar a NumPy. 

Si realizamos una comparación de una Series, nos devuelve otra Series con valores True o False. Esta nueva Series sirve para indexar una Series o un DataFrame.

In [91]:
# Genera una Serie booleana realizando la comparación de la columna bathrooms > 6

0       False
1       False
2       False
3       False
4       False
        ...
4595    False
4596    False
4597    False
4598    False
4599    False
Name: bathrooms, Length: 4600, dtype: bool

In [97]:
# Utilizando lo anterior, cuenta cuántos son mayores a 6

5

In [98]:
# Muestra todas  las columnas de las casas que tienen en bathrooms mayores a 6

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
122,2014-05-05 00:00:00,2280000.0,7.0,8.00,13540,307752,3.0,0,4,3,9410,4130,1999,0,26408 NE 70th St,Redmond,WA 98053,USA
462,2014-05-09 00:00:00,2238888.0,5.0,6.50,7270,130017,2.0,0,0,3,6420,850,2010,0,7070 270th Pl SE,Issaquah,WA 98029,USA
2328,2014-06-11 00:00:00,2888000.0,5.0,6.25,8670,64033,2.0,0,4,3,6120,2550,1965,2003,1291 NW Elford Dr,Seattle,WA 98177,USA
2654,2014-06-17 00:00:00,4668000.0,5.0,6.75,9640,13068,1.0,1,4,3,4820,4820,1983,2009,5044 Butterworth Rd,Mercer Island,WA 98040,USA
4575,2014-07-02 00:00:00,0.0,5.0,6.25,8020,21738,2.0,0,0,3,8020,0,2001,0,2 Crescent Key,Bellevue,WA 98006,USA

In [96]:
# Muestra solamente los valores de bathrooms que son mayores a 6

122     8.00
462     6.50
2328    6.25
2654    6.75
4575    6.25
Name: bathrooms, dtype: float64

### Indexación booleana puede combinarse con iloc y loc

Podemos indexar por filas y columnas df.loc[]. Al dataframe que genera, hacemos indexación booleana

df.loc[filas, columas][serie booleana]

In [100]:
# Muestra precio, bathrooms, bedrooms de las casas que tienen bathrooms mayores a 6

          price  bathrooms  bedrooms
122   2280000.0       8.00       7.0
462   2238888.0       6.50       5.0
2328  2888000.0       6.25       5.0
2654  4668000.0       6.75       5.0
4575        0.0       6.25       5.0

In [102]:
# También podemos generar la misma consulta "todas las columnas de las casas que tienen en bathrooms mayores a 6"
df.loc[df['bathrooms'] > 6]

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
122,2014-05-05 00:00:00,2280000.0,7.0,8.00,13540,307752,3.0,0,4,3,9410,4130,1999,0,26408 NE 70th St,Redmond,WA 98053,USA
462,2014-05-09 00:00:00,2238888.0,5.0,6.50,7270,130017,2.0,0,0,3,6420,850,2010,0,7070 270th Pl SE,Issaquah,WA 98029,USA
2328,2014-06-11 00:00:00,2888000.0,5.0,6.25,8670,64033,2.0,0,4,3,6120,2550,1965,2003,1291 NW Elford Dr,Seattle,WA 98177,USA
2654,2014-06-17 00:00:00,4668000.0,5.0,6.75,9640,13068,1.0,1,4,3,4820,4820,1983,2009,5044 Butterworth Rd,Mercer Island,WA 98040,USA
4575,2014-07-02 00:00:00,0.0,5.0,6.25,8020,21738,2.0,0,0,3,8020,0,2001,0,2 Crescent Key,Bellevue,WA 98006,USA

## Resumen de indexación

- df[column] 	Selecciona una columna o lista de columnas por etiquetas. 
- df[boolean series] Filtra filas a través de una serie/array booleano
- df[:]   Slice filtra filas por posición mediante un slice con el operador ':'

LOC
- df.loc[filas] 	Selecciona una fila o conjunto de filas por etiquetas
- df.loc[:, cols] 	Selecciona una o varias columnas por etiquetas, todas las filas. 
- df.loc[rows, cols] 	Selecciona filas y columnas por etiquetas

ILOC
- df.iloc[rows] 	Selecciona una fila o conjunto de fila por posición
- df.iloc[:, cols] 	Selecciona una columna o conjunto de columnas por posición. 
- df.iloc[rows, cols] 	Selecciona filas y columnas por posición

at/iat
- df.at[row, col] 	Selecciona 1 solo valor indicando fila y columna por etiqueta
- df.iat[row, col] 	Selecciona 1 solo valor indicando fila y columna por posición.